.footer {
  background-color: var(--header-footer-color);
}

.divider,
.dividerTop {
  border-color: var(--hr-border-color);
}

.divider {
  margin-left: 24px;
  margin-right: 24px;
}

.grid {
  padding: 24px;
}
