/* Page Proportions */
*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

/* General Styles */
body {
  font-family: 'Calibri', sans-serif;
  font-size: 1.1em;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
}

/* Color Scheme */
:root {
  --primary-background-color: #e7eaedff;
  --secondary-background-color: #ffffffff;
  --tertiary-background-color: #f0f3f4ff;

  --paper-background-color: #ffffffff;

  --primary-font-color: #202124ff;
  --secondary-font-color: #5f6368ff;
  --tertiary-font-color: #757575ff;

  --primary-button-color: #009be5ff;
  --warning-button-color: #ffae57ff;
  --success-button-color: #bae67eff;
  --error-button-color: #ef6b73ff;
  --on-hover-button-color: #c3a6ffff;

  --link-color: #1a73e8ff;
  --code-background-color: #fafafaff;

  --divider-color: #ffffffff;

  --home-image: url('/img/light-home.svg');
}

[data-theme='dark'] {
  --primary-background-color: #202124ff;
  --secondary-background-color: #171717ff;
  --tertiary-background-color: #303134ff;

  --paper-background-color: #303134ff;

  --primary-font-color: #d9dce0ff;
  --secondary-font-color: #99a0a6ff;
  --tertiary-font-color: #757575ff;

  --primary-button-color: #009be5ff;
  --warning-button-color: #ffae57ff;
  --success-button-color: #bae67eff;
  --error-button-color: #ef6b73ff;
  --on-hover-button-color: #c3a6ffff;

  --link-color: #5ccfe6ff;
  --code-background-color: #282c33ff;

  --divider-color: #99a0a6ff;

  --home-image: url('/img/dark-home.svg');
}

code {
  font-size: 14px;
}

/* Links */
a {
  color: var(--link-color);
}

.link {
  color: var(--secondary-font-color);
  text-decoration: none;
}

.link:hover {
  color: var(--link-color);
}

/* Typography */
blockquote {
  background-color: var(--primary-background-color);
  margin-bottom: 24px;
  padding: 10px 20px 5px 20px;
  margin-left: -48px;
  margin-right: -48px;
}

@media (max-width: 500px) {
  blockquote {
    margin-left: -40px;
    margin-right: -40px;
  }
}

svg {
  width: 24px;
  height: 24px;
}

p {
  margin: 0 0 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.625em;
  line-height: 1.55;
  font-weight: 900;
}

h2 {
  font-size: 2em;
  line-height: 1.58;
  font-weight: 900;
}

h3 {
  font-size: 1.625em;
  line-height: 1.62;
  font-weight: 900;
}

h4 {
  font-size: 1.25em;
  line-height: 1.65;
  font-weight: 900;
}

h5 {
  font-size: 1em;
  line-height: 1.65;
  font-weight: 700;
}

h6 {
  font-size: 0.813em;
  line-height: 1.77;
  font-weight: 700;
}

/* Components */
.expander {
  flex-grow: 1;
  display: inline;
}

.long-divider {
  border-color: var(--divider-color);
  border-width: 1px 0 0 0;
  margin-left: 24px;
  margin-right: 24px;
}

.short-divider {
  border-color: var(--divider-color);
  border-width: 1px 0 0 0;
}

/* Mui Material */
.grid {
  padding: 24px;
}
