/* Page Proportions */
*,
html,
body {
  margin: 0;
  padding: 0;
}

/* Color Scheme */
:root {
  --text-field-color: #bdbdbd;
  --header-footer-color: #ffffff;
  --background-color: #e8eaed;
  --cards-color: #ffffff;
  --primary-font-color: #5f6368ff;
  --secondary-font-color: #202124b3;
  --disabled-font-color: #20212480;
  --hr-border-color: #e8eaed80;
  --link-color: #0000ee;
}

[data-theme='dark'] {
  --text-field-color: #414141;
  --header-footer-color: #212121;
  --background-color: #303030;
  --cards-color: #424242;
  --primary-font-color: #ffffffff;
  --secondary-font-color: #ffffffb3;
  --disabled-font-color: #ffffff80;
  --hr-border-color: #ffffff30;
  --link-color: #00bcd4;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--secondary-font-color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Typography */
p {
  margin: 0 0 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.625em;
  line-height: 1.55;
  font-weight: 900;
}

h2 {
  font-size: 2em;
  line-height: 1.58;
  font-weight: 900;
}

h3 {
  font-size: 1.625em;
  line-height: 1.62;
  font-weight: 900;
}

h4 {
  font-size: 1.25em;
  line-height: 1.65;
  font-weight: 900;
}

h5 {
  font-size: 1em;
  line-height: 1.65;
  font-weight: 700;
}

h6 {
  font-size: 0.813em;
  line-height: 1.77;
  font-weight: 700;
}
