/* Page Proportions */
*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

/* General Styles */
body {
  font-family: 'Calibri', sans-serif;
  font-size: 1.1em;
  background-color: var(--secondary-background-color);
  color: var(--primary-font-color);
}

/* Color Scheme */
:root {
  --disabled-font-color: #20212480;

  --primary-background-color: #ffffffff;
  --secondary-background-color: #e8eaedff;
  --tertiary-background-color: #f0f2f3ff;

  --paper-background-color: #ffffffff;

  --primary-font-color: #5f6368ff;
  --secondary-font-color: #202124ff;
  --tertiary-font-color: #505050ff;

  --primary-button-color: #e8eaedff;
  --warning-button-color: #ffae57ff;
  --success-button-color: #bae67eff;
  --error-button-color: #ef6b73ff;
  --on-hover-button-color: #c3a6ffff;

  --primary-bold-font-color: #5f6368ff;
  --secondary-bold-font-color: #5f6f68ff;

  --link-color: #0000eeff;
  --code-background-color: #f0f3f4ff;

}

[data-theme='dark'] {
  --primary-background-color: #171c28ff;
  --secondary-background-color: #1d2433ff;
  --tertiary-background-color: #2f3b54ff;

  --paper-background-color: #2f3b54ff;

  --primary-font-color: #8695b7ff;
  --secondary-font-color: #a2aabcff;
  --tertiary-font-color: #d7dce2ff;

  --primary-button-color: #6679a4ff;
  --warning-button-color: #ffae57ff;
  --success-button-color: #bae67eff;
  --error-button-color: #ef6b73ff;
  --on-hover-button-color: #c3a6ffff;

  --primary-bold-font-color: #ffd580ff;
  --secondary-bold-font-color: #ffcc66ff;

  --link-color: #5ccfe6;
  --code-background-color: #282c34;
}

/* Links */
a {
  color: var(--link-color);
}

.link {
  color: var(--primary-font-color);
  text-decoration: none;
}

.link:hover {
  color: var(--link-color);
}

/* Typography */
blockquote {
  background-color: var(--secondary-background-color);
  margin-bottom: 24px;
  padding: 10px 20px 5px 20px;
  margin-left: -48px;
  margin-right: -48px;
}

@media (max-width: 500px) {
  blockquote {
    margin-left: -40px;
    margin-right: -40px;
  }
}

svg {
  width: 24px;
  height: 24px;
}

p {
  margin: 0 0 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.625em;
  line-height: 1.55;
  font-weight: 900;
}

h2 {
  font-size: 2em;
  line-height: 1.58;
  font-weight: 900;
}

h3 {
  font-size: 1.625em;
  line-height: 1.62;
  font-weight: 900;
}

h4 {
  font-size: 1.25em;
  line-height: 1.65;
  font-weight: 900;
}

h5 {
  font-size: 1em;
  line-height: 1.65;
  font-weight: 700;
}

h6 {
  font-size: 0.813em;
  line-height: 1.77;
  font-weight: 700;
}

/* Components */
.expander {
  flex-grow: 1;
  display: inline;
}

.long-divider {
  border-color: var(--primary-button-color);
  margin-left: 24px;
  margin-right: 24px;
}

.short-divider {
  border-color: var(--primary-button-color);
}

/* Mui Material */
.grid {
  padding: 24px;
}
