/* Page Proportions */
*,
html,
body {
  font-family: Cascadia Mono, monospace;
  margin: 0;
  padding: 0;
}

/* Color Scheme */
:root {
  color-scheme: dark light;
}

body {
  color: #f8f9fa;
  background-color: #202124;
}

/* General Styling */
a {
  color: inherit;
  text-decoration: none;
}
